---
import { Image } from "astro:assets";
import Button from "./ui/Button.astro";
import LanguageSwitcher from "../components/react/LanguageSwitcher";
import { m } from "../paraglide/messages.js";

const navItems = [
  {
    link: "/features",
    title: m["navbar.features"](),
  },
  {
    link: "/pricing",
    title: m["navbar.pricing"](),
  },
  {
    link: "/resources",
    title: m["navbar.resourceHub"](),
  },
];
const SIGN_IN_URL = "https://app.ionkol.com/sign-in";
const SIGN_UP_URL = "https://app.ionkol.com/sign-up";
---

<header
  id="navbar"
  class="w-full z-50 fixed top-0 left-0 h-[84px] px-[65px] py-[22px] bg-white justify-between items-center inline-flex transition-colors duration-300"
>
  <a
    href="/"
    class="text-center text-[#0d0c22] text-[28px] font-bold tracking-wide"
    data-link="/"
  >
    <Image src="/ionkolLogoNew.svg" alt="key" width={125} height={40} />
  </a>

  <div class="lg:hidden">
    <input type="checkbox" id="burger-toggle" class="hidden" />
    <label
      for="burger-toggle"
      class="cursor-pointer block space-y-1"
      onclick="toggleMenu()"
    >
      <span class="block w-8 h-0.5 bg-black"></span>
      <span class="block w-8 h-0.5 bg-black"></span>
      <span class="block w-8 h-0.5 bg-black"></span>
    </label>
  </div>

  <div class="hidden items-center lg:flex gap-[2rem]">
    <ul
      class="flex gap-[2rem] list-none text-[#0d0c22] text-base font-normal leading-normal tracking-tight"
    >
      {
        navItems.map((item) => (
          <a
            href={`${item.link}`}
            class="cursor-pointer text-[#0d0c22] hover:text-[#EE7380] active:text-[#d55e6b] transition-colors duration-300"
            data-link={item.link}
          >
            {item.title}
          </a>
        ))
      }
    </ul>

    <LanguageSwitcher client:load />
    <a href={SIGN_UP_URL}>
      <Button text={m["navbar.signUp"]()} type="outline" /></a
    >
    <a href={SIGN_IN_URL}> <Button text={m["navbar.login"]()} /></a>
  </div>
</header>

<div
  id="menu"
  class="lg:hidden fixed top-0 left-0 bg-white p-4 space-y-4 shadow-md top-[84px] left-0 w-full hidden z-50"
>
  <nav>
    <ul class="flex flex-col">
      {
        navItems.map((item) => (
          <a
            href={`${item.link}`}
            class="cursor-pointer py-2 text-center w-full hover:bg-[#fff7f8] text-[#0d0c22] hover:text-[#EE7380] active:text-[#d55e6b] transition-colors duration-300"
            data-link={item.link}
          >
            {item.title}
          </a>
        ))
      }
      <span class="w-full flex items-center justify-center">
       <LanguageSwitcher client:load />
       </span>
    </ul>
  </nav>

  <!-- Sign-up and Login buttons for mobile -->
  <div class="flex flex-col gap-4">
    <a href={SIGN_UP_URL}>
      <Button className="w-full" text={m["navbar.signUp"]()} type="outline" />
    </a>
    <a href={SIGN_IN_URL}>
      <Button className="w-full" text={m["navbar.login"]()} />
    </a>
  </div>
</div>

<script is:inline>
  function toggleMenu() {
    const menu = document.getElementById("menu");
    menu.classList.toggle("hidden");
  }

  function updateNavigationLinks() {
    const pathSegments = window.location.pathname.split("/");
    const currentLang = pathSegments[1] || "en";

    document.querySelectorAll("a[data-link]").forEach((link) => {
      const basePath = link.getAttribute("data-link");
      link.href = `/${currentLang}${basePath}`;
    });
  }

  document.addEventListener("DOMContentLoaded", updateNavigationLinks);

  document.addEventListener("scroll", () => {
    const navbar = document.getElementById("navbar");
    if (window.scrollY > 0) {
      navbar.classList.add("bg-[#FFF8F8]", "text-white", "shadow");
      navbar.classList.remove("bg-white", "text-[#0d0c22]");
    } else {
      navbar.classList.remove("bg-[#FFF8F8]", "text-white", "shadow");
      navbar.classList.add("bg-white", "text-[#0d0c22]");
    }
  });
</script>
