---
import Button from "./ui/Button.astro";

const navItems = ["Features", "Benefits", "About", "Pricing", "Contact"];
const SIGN_IN_URL = "https://app-dev.ionkol.com//sign-in"
const SIGN_UP_URL = "https://app-dev.ionkol.com/sign-up"
---

<header
  id="navbar"
  class="w-full z-50 fixed top-0 left-0 h-[84px] px-[65px] py-[22px] bg-white justify-between items-center inline-flex transition-colors duration-300">
  <a
    href="#explore"
    class="text-center text-[#0d0c22] text-[28px] font-bold font-['Urbanist'] tracking-wide">
    iON
  </a>

  <!-- Burger Menu Icon for mobile -->
  <div class="lg:hidden">
    <input type="checkbox" id="burger-toggle" class="hidden" />
    <label
      for="burger-toggle"
      class="cursor-pointer block space-y-1"
      onclick="toggleMenu()">
      <span class="block w-8 h-0.5 bg-black"></span>
      <span class="block w-8 h-0.5 bg-black"></span>
      <span class="block w-8 h-0.5 bg-black"></span>
    </label>
  </div>

  <!-- Navigation links for desktop -->
  <nav class="hidden lg:flex space-x-4">
    <ul
      class="flex gap-[2rem] list-none text-[#0d0c22] text-base font-normal font-['Mulish'] leading-normal tracking-tight">
      {
        navItems.map((item) => (
          <a
            href={`#${item}`}
            class="cursor-pointer text-[#0d0c22] hover:text-[#ed707e] active:text-[#d55e6b] transition-colors duration-300">
            {item}
          </a>
        ))
      }
    </ul>
  </nav>

  <!-- Sign-up and Login buttons -->
  <div class="hidden lg:flex gap-4">
    <a href={SIGN_UP_URL}>
      <Button text="Sign-up" type="outline" /></a
    >
    <a href={SIGN_IN_URL}>
      <Button text="Login" /></a
    >
  </div>
</header>

<!-- Mobile Menu -->
<div
  id="menu"
  class="lg:hidden fixed top-0 left-0 bg-white p-4 space-y-4 shadow-md top-[84px] left-0 w-full hidden z-50">
  <nav>
    <ul class="flex flex-col">
      {
        navItems.map((item) => (
          <a
            href={`#${item}`}
            class="cursor-pointer py-2 text-center w-full hover:bg-[#fff7f8] text-[#0d0c22] hover:text-[#ed707e] active:text-[#d55e6b] transition-colors duration-300">
            {item}
          </a>
        ))
      }
    </ul>
  </nav>

  <!-- Sign-up and Login buttons for mobile -->
  <div class="flex flex-col gap-4">
    <Button text="Sign-up" type="outline" />
    <Button text="Login" />
  </div>
</div>

<script is:inline>
  function toggleMenu() {
    const menu = document.getElementById("menu");
    menu.classList.toggle("hidden");
  }

  document.addEventListener("scroll", () => {
    const navbar = document.getElementById("navbar");
    if (window.scrollY > 0) {
      navbar.classList.add("bg-[#FFF8F8]", "text-white", 'shadow');
      navbar.classList.remove("bg-white", "text-[#0d0c22]");
    } else {
      navbar.classList.remove("bg-[#FFF8F8]", "text-white", 'shadow');
      navbar.classList.add("bg-white", "text-[#0d0c22]");
    }
  });
</script>
