---
import { Image } from "astro:assets";
import Button from "./ui/Button.astro";

interface Props {
  id: number;
  name: string;
  price_yearly: number;
  price_monthly: number;
  cta_text: string;
  description: string[];
  subheader: string;
  cardBgColor: string;
}

const {
  name,
  price_yearly,
  price_monthly,
  cta_text,
  description,
  subheader,
  cardBgColor,
} = Astro.props;
---

<div
  class="w-[318px] py-7 px-6 rounded-[32px] shadow flex flex-col justify-start items-center gap-6"
  style={{ backgroundColor: cardBgColor }}>
  <div class="flex flex-col justify-center items-center">
    <h3
      class="text-center text-[#0d0c22] text-3xl font-semibold  leading-[42px] tracking-wide mb-6">
      {name}
    </h3>

    <div class="flex justify-center items-center mb-2">
      <span
        class="text-center text-[#0d0c22] text-3xl font-semibold  leading-[42px] tracking-wide">
        $
      </span>
      <span
        class="monthlyPrice text-center text-[#0d0c22] text-6xl font-semibold  tracking-wide">
        {price_monthly}
      </span>
      <span
        class="yearlyPrice hidden text-center text-[#0d0c22] text-6xl font-semibold  tracking-wide">
        {price_yearly}
      </span>
    </div>

    <div
      class="monthlyPriceLabel text-center text-[#0d0c22] text-base font-semibold  uppercase leading-normal tracking-tight mb-3">
      PER MONTH
    </div>
    <div
      class="yearlyPriceLabel hidden text-center text-[#0d0c22] text-base font-semibold  uppercase leading-normal tracking-tight mb-3">
      PER YEAR
    </div>

    <p
      class="text-center text-[#9e9ea7] text-base font-normal  leading-normal tracking-tight mb-7">
      {subheader}
    </p>

    <Button text= {cta_text}/>
     

  </div>

  <div class="w-full flex flex-col gap-4">
    <p
      class="self-stretch text-[#0d0c22] text-sm font-semibold  uppercase tracking-tight">
      Enjoy:
    </p>

    {
      description.map((text) => (
        <div class="flex items-center gap-3">
          <Image
            src="/check.svg"
            alt="check"
            width="24"
            height="24"
            class="flex-shrink-0"
          />
          <p class="text-[#0d0c22] text-base font-normal  tracking-tight">
            {text}
          </p>
        </div>
      ))
    }
  </div>
</div>
