---
import Slide from "./Slide.astro";
import Circle from "./Circle.astro";

const slides = [
  {
    title: 'ION Explore',
    textColor: 'text-[#ed707e]',
    description: 'Data-driven success',
    buttonLabel: 'Book a Demo',
    circleBackgroundColor: 'bg-[#feeff1]',
    circleTopPosition: '-top-[18%] lg:-top-[20%] left-[65%]',
    circleContent: `
        <div class=" scale-75 lg:scale-100 h-[90px] rotate-[7.77deg] px-6 py-3 bg-white rounded-xl shadow flex flex-col justify-center items-center">
          <div class="flex gap-3 mb-2">
            <div class="p-2 bg-[#fea598] rounded-full">
              <img src="/instagram-icon.svg" alt="Instagram" width="16" height="16" />
            </div>
            <div class="p-2 bg-[#fea598] rounded-full">
              <img src="/tiktok-icon.svg" alt="TikTok" width="16" height="16" />
            </div>
            <div class="p-2 bg-[#fea598] rounded-full">
              <img src="/youtube-icon.svg" alt="YouTube" width="16" height="16" />
            </div>
          </div>
          <div class="text-center">Social Media</div>
        </div>
    `
  }
];
---

<!-- <div class="swiper flex justify-center items-center">
    <div class="swiper-wrapper min-h-screen flex items-center">
        {slides.map((slide) => (
          <Slide title={slide.title} textColor={slide.textColor} description={slide.description} buttonLabel={slide.buttonLabel}>
            <Circle backgroundColor={slide.circleBackgroundColor} topPosition={slide.circleTopPosition}>
                <Fragment set:html={slide.circleContent} />
            </Circle>
          </Slide>
        ))}
      </div>
</div> -->

<div class="flex justify-center items-center min-h-screen">
  <Slide title={slides[0].title} textColor={slides[0].textColor} description={slides[0].description} buttonLabel={slides[0].buttonLabel}>
    <Circle backgroundColor={slides[0].circleBackgroundColor} topPosition={slides[0].circleTopPosition}>
        <Fragment set:html={slides[0].circleContent} />
    </Circle>
  </Slide>
</div>

