---
import Slide from "./Slide.astro";
import Circle from "./Circle.astro";
import ImageAnimation from "./ImageAnimation.astro";

const slides = [
  {
    title: 'ION Explore',
    textColor: 'text-[#EE7380]',
    description: 'Data-driven success',
    buttonLabel: 'Start Now',
    circleBackgroundColor: 'bg-[#feeff1]',
    circleContent: `
        <div class="animated-box lg:h-[450px]">
          <img class="animated-slides test-class" src="/sliderIcon1.svg" alt="SliderIcon"  />
        </div>
    `
  }
];
---


<div class="flex justify-center items-center mt-40">
  <Slide title={slides[0].title} textColor={slides[0].textColor} description={slides[0].description} buttonLabel={slides[0].buttonLabel}>
    <Circle backgroundColor={slides[0].circleBackgroundColor}>
        <ImageAnimation />
    </Circle>
  </Slide>
</div>

